body{
 background-color: rgb(21, 255, 0);
 font-family: Arial, Helvetica, sans-serif;   
}

#site-header{
    background-color: rgb(206, 252, 3);
    padding: 10%;
    display: flex;
    #site-header
}

div class="logo-wrapper"{
    font-size: color;
    font-weight
}

nav class="main-navigation" aria-label="Menu principal"{
    display-flex
    list-style: none;
    padding
    text-transform

}